* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

header {
    background-color: #4B0082;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.navbar {
    position: relative;
}

.hamburger {
    display: none; 
    font-size: 30px;
    color: #fff; 
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    
}

.navbar a.active {
    color: #E63976; 
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.close-button {
    display: none;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background: none;
    border: none;

}

.contact {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.contact h1 {
    font-size: 48px;
    color: #4B0082;
    font-family: 'Courier New', Courier, monospace
}

.contact-form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.contact-form h2 {
    color: #E63976;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4B0082;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #E63976;
}

.map {
    padding: 40px;
    text-align: center;
}

.map iframe {
    width: 80%;
    height: 400px;
    border: none;
}

.footer {
    background-color: #4B0082;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer-content {
    justify-content: space-around;
}

.footer-content div {
    flex: 1;
    margin: 10px;
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #E63976;
}

.footer p {
    font-size: 16px;
}

.quick-links a {
    color: white;
    text-decoration: none;
}

.quick-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none; 
        flex-direction: column;
        position: fixed;
        background-color: #4B0082; 
        top: 0px; 
        right: 0;
        width: 150px;
        height: auto; 
        z-index: 10;
        justify-content: flex-start; 
        padding: 20px 0;
    }

    .navbar-menu.active {
        display: flex; 
    }

    .navbar ul {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 0;
        margin: 0;
        list-style: none; 
    }

    .navbar ul li {
        margin: 10px 20px; 
    }

    .hamburger {
        display: block;
    }

    .close-button{
        display: block;
    }

    .contact h1 {
        font-size: 36px;
    }

    .contact-form {
        padding: 20px;
    }

    .map iframe {
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0; 
    }

    
}
